body {
  background: #212121;
  color: ivory;
  font-family: Arial, Helvetica, sans-serif;
}
#legend {
  display: inline-block;
  width: 6px;
  height: 6px;
}
span {
  font-size: small;
  color: ivory;
}